{% extends 'travel/base.html' %}
{% block content %}
{% load static %}
        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Travel Packages</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Travel</a></li>
                    <li class="breadcrumb-item active text-white">Booking</li>
                </ol>
            </div>
        </div>
        <!-- Header End -->


        <a href="{% url 'landing' %}"><button class="btn btn-success" id=follows style="margin-left: 400px"> Back </button></a><br><br>
        <div class="row g-5 align-items-center">
                    {% for booking in booknow %}
                    {% if booking.travel.discounts == 0 %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{{booking.travel.image.url}}" alt="Image">
                                </div>
                                <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>{{booking.travel.departure_date}}</small>
                                    <a href="#"><i class="fa fa-thumbs-up text-primary me-2"></i>{{booking.travel.likes}}</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i></a>
                                </div>
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                <p class="mb-3">Posted By: {{booking.travel.author.employee.username}} </p>
                                <p class="mb-3">Price: {{booking.travel.price_type}}{{booking.travel.price}} </p>
                                <p class="mb-3">Booked places: {{booking.persons}} </p>
                                <a href="#" class="h4">{{booking.travel.name}}</a>
                                <p class="my-3">{{booking.travel.description}}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Booked</a>
                                <a href="{% url 'booked_delete' booking.id %}"><button class="btn btn-success" id=follow3 style="background-color: #bf2317"> Delete Booked </button></a>

                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <div class="tour-offer bg-warning">{{booking.travel.discounts}}% Off</div>
                                    <img class="img-fluid w-100 rounded-top" src="{{booking.travel.image.url}}" alt="Image">
                                </div>
                                <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>{{booking.travel.departure_date}}</small>
                                    <a href="#"><i class="fa fa-thumbs-up text-primary me-2"></i>{{booking.travel.likes}}</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i></a>
                                </div>
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                <p class="mb-3">Posted By: {{booking.travel.author.employee.username}} </p>
                                <p class="mb-3">Price: {{booking.travel.price_type}}{{booking.travel.price}} </p>
                                <p class="mb-3">Booked places: {{booking.persons}} </p>
                                <a href="#" class="h4">{{booking.travel.name}}</a>
                                <p class="my-3">{{booking.travel.description}}</p>
                                <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Booked</a>
                                <a href="{% url 'booked_delete' booking.id %}"><button class="btn btn-success" id=follow3 style="background-color: #bf2317"> Delete Booked </button></a>

                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        <!-- Tour Booking Start -->
        <div class="container-fluid booking py-5">
            <h1 style="margin-left: 40%; color: red">{{comment}}</h1>
            <div class="container py-5" style="display: flex">
                {% if travel.discounts == 0 %}
                    <div class="col-lg-4 col-md-6" style="background-color: white; margin-right: 10%">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{{travel.image.url}}" alt="Image">
                                </div>
                                <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>{{travel.departure_date}}</small>
                                    <a href="#"><i class="fa fa-thumbs-up text-primary me-2"></i>{{travel.likes}}</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i></a>
                                </div>
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                <p class="mb-3">Posted By: {{travel.author.employee.username}} </p>
                                <p class="mb-3">Price: {{travel.price_type}}{{travel.price}} </p>
                                <p class="mb-3">Empty Space: {{travel.persons}}</p>
                                <a href="#" class="h4">{{travel.name}}</a>
                                <p class="my-3">{{travel.description}}</p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-4 col-md-6" style="background-color: white; margin-right: 10%">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <div class="tour-offer bg-warning">{{travel.discounts}}% Off</div>
                                    <img class="img-fluid w-100 rounded-top" src="{{travel.image.url}}" alt="Image">
                                </div>
                                <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>{{travel.departure_date}}</small>
                                    <a href="#"><i class="fa fa-thumbs-up text-primary me-2"></i>{{travel.likes}}</a>
                                    <a href="#" class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-primary me-2"></i></a>
                                </div>
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                <p class="mb-3">Posted By:  {{travel.author.employee.username}} </p>
                                <p class="mb-3">Price:  {{travel.price_type}}{{travel.price}} </p>
                                <p class="mb-3">Empty Space:  {{travel.persons}}</p>
                                <a href="#" class="h4">{{travel.name}}</a>
                                <p class="my-3">{{travel.description}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <div class="col-lg-6">
                        <h1 class="text-white mb-2 mt-3">Book A Tour Deals</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-white border-0" id="name" name="yourname" value="{{request.user.first_name}} {{request.user.last_name}}">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control bg-white border-0" id="email" name="email" value="{{request.user.email}}">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <h1 class="text-white mb-2 mt-3">{{travel.price}} {{travel.price_type}}</h1>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select bg-white border-0" name="persons" id="SelectPerson">
                                            <option value="1">Persons 1</option>
                                            <option value="2">Persons 2</option>
                                            <option value="3">Persons 3</option>
                                            <option value="4">Persons 4</option>
                                        </select>
                                        <label for="SelectPerson">Persons</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control bg-white border-0" placeholder="Special Request" name="message" id="message" style="height: 100px"></textarea>
                                        <label for="message">Special Request</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary text-white w-100 py-3" type="submit">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tour Booking End -->
{% endblock %}