{% extends 'travel/base.html' %}
{% block content %}
{% load static %}
        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Travel Packages</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Hotels</a></li>
                    <li class="breadcrumb-item active text-white">Packages</li>
                </ol>
            </div>
        </div>
        <!-- Header End -->

        <!-- Blog Start -->

        <div class="position-relative mx-auto">
            <form method="post">
                {% csrf_token %}
                <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="search" placeholder="search" name="search" value="{{search}}" >
                <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Search</button>
            </form>
        </div>
        <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Our Hotels</h5>
                    <h1 class="mb-4">Popular Hotels</h1>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti deserunt tenetur sapiente atque. Magni non explicabo beatae sit, vel reiciendis consectetur numquam id similique sunt error obcaecati ducimus officia maiores.
                    </p>
                </div>
                <div class="row g-4 justify-content-center">
                    {% for hotel in hotels %}
                    {% if hotel.discount == 0 %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <img class="img-fluid w-100 rounded-top" src="{{hotel.brand_image.url}}" alt="Image">
                                </div>
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                <p class="mb-3">Price: {{hotel.price_type}}{{hotel.price}} </p>
                                <p class="mb-3">Service Term: {{hotel.service_term}} </p>
                                <a href="#" class="h4">{{hotel.name}}</a>
                                <a href="{% url 'hotel_detail' hotel.slug %}" class="btn btn-primary rounded-pill py-2 px-4">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <div class="blog-img-inner">
                                    <div class="tour-offer bg-warning">{{hotel.discount}}% Off</div>
                                    <img class="img-fluid w-100 rounded-top" src="{{hotel.brand_image.url}}" alt="Image">
                                </div>
                            </div>
                            <div class="blog-content border border-top-0 rounded-bottom p-4">
                                <p class="mb-3">Price: {{hotel.price_type}}{{hotel.price}}</p>
                                <p class="mb-3">Service Term: {{hotel.service_term}} </p>
                                <a href="#" class="h4">{{hotel.name}}</a>
                                <a href="{% url 'hotel_detail' hotel.slug %}" class="btn btn-primary rounded-pill py-2 px-4">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <a href="{% url 'services' %}" style="margin-left: 600px"><button class="btn btn-success" id=follow> Back </button></a><br>
        </div>
        <!-- Blog End -->

        <!-- Subscribe Start -->
        <div class="container-fluid subscribe py-5">
            <div class="container text-center py-5">
                <div class="mx-auto text-center" style="max-width: 900px;">
                    <h5 class="subscribe-title px-3">Subscribe</h5>
                    <h1 class="text-white mb-4">Our Newsletter</h1>
                    <p class="text-white mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore nam, architecto doloremque velit explicabo? Voluptate sunt eveniet fuga eligendi! Expedita laudantium fugiat corrupti eum cum repellat a laborum quasi.
                    </p>
                    <div class="position-relative mx-auto">
                        <input class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Subscribe End -->
{% endblock %}