{% extends 'travel/base.html' %}
{% block content %}
{% load static %}
        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Travel Packages</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">My</a></li>
                    <li class="breadcrumb-item active text-white">Profile</li>
                </ol>
            </div>
        </div>
        <!-- Header End -->

        <div class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                  <div class="card">
                    <img class="card-img-top" src="{% static 'auth/images/profile.jpg' %}" alt="Card image cap">
                    <h1>Username: {{user.username}} </h1>
                    <div class="card-body">
                      <h1>First name: {{user.first_name}} <br><br>
                          Last name: {{user.last_name}}<br><br>
                          Email: {{user.email}}</h1>
                    </div>
                      <a href="{% url 'logout' %}"><button class="btn btn-success" id=follow> Logout </button></a><br>
                      <a href="{% url 'profile_edit' %}"><button class="btn btn-success" id=follows> Account settings </button></a>
                      <a href="{% url 'delete account' %}"><button class="btn btn-success" id=follow3 style="background-color: #bf2317"> Delete Acount </button></a>
                  </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}